# Server Configuration
PORT=3000
HOST=localhost

# Security Configuration
SYSTEM_SECRET=some-super-secret-key-that-is-32-bytes-long-for-security
CLIENT_ID=my-client
CLIENT_SECRET=my-secret

# OAuth2 Configuration
ACCESS_TOKEN_LIFETIME=3600
AUTHORIZE_CODE_LIFETIME=600
ID_TOKEN_LIFETIME=3600
REFRESH_TOKEN_LIFETIME=604800

# OIDC Configuration
ISSUER=http://localhost:3000
REDIRECT_URI=https://oidcdebugger.com/debug